.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  font-family: Verdana, sans-serif;
  background-color: var(--primary-color);
  color: var(--background-color);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  text-align: center;
}

.servicesImage {
  height: 600px;
  padding: 0px 100px;
  filter: grayscale(90%);
  transition: filter 0.3s ease;
  &:hover {
    filter: none;
  }
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 2%;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 0px;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  width: 80%;
  margin: 0 5%;
  line-height: 1.5;
  text-align: justify;
  text-indent: 2rem;
  color: var(--background-color);
}

@media (max-width: 768px) {
  .titleContainer {
    flex-direction: column;
  }

  .servicesImage {
    height: auto;
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
    filter: none;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    margin-bottom: 10px;
    text-align: center;
  }

  .description {
    font-size: 1rem;
    width: 90%;
    text-indent: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    margin-bottom: 10px;
    text-align: center;
  }

  .description {
    font-size: 0.9rem;
    text-indent: 0.5rem;
  }
}
