.container {
  font-family: Verdana, sans-serif;
  color: var(--primary-color);
  background-color: #d3e2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 20%;
  padding-bottom: 6%;
  width: auto;
}

.contactsContainer {
  width: 100%;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 2%;
}

.statisticsIcon {
  color: var(--secondary-color);
  padding-right: 10px;
}

.contactsSubtitle {
  font-size: 1.3rem;
  margin: 0.7% 0;
  padding: 3% 0%;
  line-height: 1.5;
  text-indent: 1rem;
  color: var(--primary-color);
}

.contactsDescription {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0.7% 0;
  text-indent: 2rem;
  color: var(--primary-color);
}

.contactsDescription a {
  text-decoration: none;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .container {
    padding: 2% 10%;
  }

  .title {
    font-size: 1.5rem;
  }

  .contactsSubtitle {
    font-size: 1.2rem;
    text-indent: 0;
  }

  .contactsDescription {
    font-size: 0.9rem;
    text-indent: 0;
  }

  .contactsDescription a {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .contactsSubtitle {
    font-size: 1rem;
  }

  .contactsDescription {
    font-size: 0.8rem;
  }
}
