.container {
  font-family: Verdana, sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: auto;
  text-align: center;
  padding-bottom: 5%;
}

.title {
  font-variant: all-small-caps;
  font-size: 2.5rem;
  padding-bottom: 3%;
}

.teamContainer {
  width: 100%;
}

.teamRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 2%;
}

.teamCol {
  padding: 1% 2%;
  width: 300px;
  font-variant: all-small-caps;
  text-align: center;
  border: 2px solid var(--primary-color);
  border-radius: 15px 0px;
  margin: 0% 1%;
  box-shadow: 3px 3px 5px 0px var(--primary-color);
  &:hover {
    background-color: aliceblue;
    box-shadow: 3px 3px 5px 0px var(--secondary-color);
  }
}

.teamImg {
  height: 150px;
}

.teamDescription {
  text-align: left;
  padding-left: 20px;
}

.teamDescription a {
  text-decoration: none;
  color: var(--primary-color);
  &:hover {
    color: var(--secondary-color);
  }
}

.teamIcon {
  color: var(--secondary-color);
  padding: 10px;
  margin: 0px 10px;
  font-size: 2rem;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  &:hover {
    color: white;
    background-color: var(--secondary-color);
  }
}

.langIcon {
  padding: 0px 5px;
  height: 15px;
}

.viberIcon {
  color: #7360f2;
  border-color: #7360f2;
  &:hover {
    background-color: #7360f2;
    color: white;
  }
}

.whatsappIcon {
  color: #25d366;
  border-color: #25d366;
  &:hover {
    background-color: #25d366;
    color: white;
  }
}
