.aboutImage {
  width: 50%;
  height: 100%;
}

.goalsContainer {
  background: linear-gradient(172deg, #436bb9, transparent);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.cardContent {
  padding: 20px;
  text-align: center;
}

.cardFrontContent {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 3%;
}

.cardContentList {
  text-align: left;
}

.cardContentListItem {
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .goalsContainer {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .goalsContainer {
    flex-direction: column;
  }
}
