.container {
  padding: 3rem 8rem;
  background-color: aliceblue;
  color: var(--primary-color);
  font-family: Verdana, sans-serif;
}

.title {
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }
}
