.homeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.homeImage {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
    align-items: center;
  }

  .homeImage {
    width: 100%;
    height: auto;
  }
}
