.container {
  font-family: Verdana, sans-serif;
  color: var(--primary-color);
  background-color: #d3e2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  padding-bottom: 6%;
  width: auto;
  text-align: center;
}

.title {
  font-size: 2rem;
  padding-bottom: 2%;
  text-transform: uppercase;
}

.formContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-bottom: 2px solid black;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}

.formRow {
  width: -webkit-fill-available;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.formImg {
  height: 100px;
  padding: 0px 20px;
}

.firstRowInput {
  background-color: #ecf1fb;
}

.secondRowInput {
  background-color: #d3e2ff;
}

.thirdRowInput {
  background-color: #b8d0fe;
  width: -webkit-fill-available;
}

.fourthRowInput {
  background-color: #9db5fd;
  width: -webkit-fill-available;
}

.firstRowInput,
.secondRowInput,
.thirdRowInput,
.fourthRowInput {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid black;
  padding: 12px 15px;
  margin: 5px;
  border-radius: 8px;
  color: var(--primary-color);
  transition: border-color 0.3s ease;
  &::placeholder {
    font-family: Verdana, sans-serif;

    color: var(--primary-color);
  }
}

.firstRowInput:focus,
.secondRowInput:focus,
.thirdRowInput:focus,
.fourthRowInput:focus {
  border-color: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
  background-color: white;
}

.submitButton {
  background-color: var(--primary-color);
  border: none;
  border-bottom: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 25px;
  margin-top: 5px;
  font-size: 16px;
  color: white;
  font-family: Verdana, sans-serif;

  font-weight: bold;
  width: auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitButton:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.submitButton:active {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .formContainer {
    margin: 2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .formRow {
    flex-direction: column;
    align-items: stretch;
  }

  .formImg {
    height: 80px;
    margin-bottom: 20px;
  }

  .firstRowInput,
  .secondRowInput,
  .thirdRowInput,
  .fourthRowInput {
    width: 300px;
    font-size: 0.9rem;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .formContainer {
    margin: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .submitButton {
    font-size: 14px;
    padding: 10px 20px;
  }
}
