.container {
  font-family: Verdana, sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: auto;
  text-align: center;
  padding-bottom: 5%;
}

.title {
  font-size: 2rem;
  padding-bottom: 3%;
  text-transform: uppercase;
}

.offersContainer {
  width: 100%;
}

.offersRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.offersCol {
  padding: 1% 2%;
  flex: 1 1 40%;
  text-align: center;
  border: 2px solid var(--primary-color);
  border-radius: 15px 0px;
  margin: 1%;
  border-bottom: 3px solid black;
  &:hover {
    background-color: aliceblue;
  }
}

.offersImg,
.offersImgLong {
  height: 250px;
  margin-top: 20px;
  border-radius: 13px 0px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  &:hover {
    filter: none;
  }
}

.offersTitle {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.offersDescription {
  text-align: left;
  padding-left: 20px;
}

.readMoreButton {
  font-family: Verdana, sans-serif;
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  padding: 20px 0px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.readMoreButton:hover {
  color: var(--secondary-color);
}

.readMoreButton:focus {
  outline: none;
}

@media (max-width: 768px) {
  .offersCol {
    flex: 1 1 60%;
  }

  .offersImg {
    width: 330px;
    filter: none;
  }

  .offersImgLong {
    height: 250px;
    filter: none;
  }
}

@media (max-width: 480px) {
  .offersCol {
    flex: 1 1 100%;
  }
}
