.titleContainer {
  font-family: Verdana, sans-serif;
  color: var(--primary-color);
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1rem;
}

.title {
  font-variant: all-small-caps;
  font-size: 2rem;
  padding-bottom: 2%;
}

.description {
  font-size: 1.2rem;
  width: 80%;
  margin: 0.7% 0;
  line-height: 1.5;
  color: var(--primary-color);
  font-variant: all-small-caps;
}
