.navbarContainer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 8%;
  background-color: aliceblue;
  box-shadow: 0px 1px 10px 5px #1f458e57;
  text-transform: uppercase;
}

.navbarListContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.navLink {
  text-decoration: none;
  color: var(--primary-color);
  font-family: Verdana, sans-serif;

  font-size: 1.3rem;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.activeNavLink {
  font-weight: bold;
  color: var(--secondary-color);
}

.logo {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownBtn {
  background-color: aliceblue;
  color: var(--primary-color);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.langIcon {
  font-size: 1.3rem;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdownContent button {
  padding: 10px 20px;
  width: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
  text-align: left;
}

.dropdownContent button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

@media (max-width: 768px) {
  .logo {
    transition: transform 0.3s ease;
  }

  .rotated {
    transform: rotate(180deg);
  }

  .navbarListContainer {
    flex-direction: column;
    display: none;
    width: 100%;
  }

  .showMenu {
    display: flex;
    padding: 0px;
  }

  .navbarContainer {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .langIcon {
    font-size: 1.5rem;
  }

  .dropdownContent button {
    font-size: 1.2rem;
  }
}
