.aboutUscontainer {
  font-family: Verdana, sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding-bottom: 2%;
  box-sizing: border-box;
}

.aboutUstitle {
  font-variant: all-small-caps;
  font-size: 2.5rem;
  padding-bottom: 3%;
}

.aboutUsContainer {
  max-width: 100%;
  box-sizing: border-box;
}

.aboutUsRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0;
}

.aboutUsCol {
  padding: 1% 2%;
  width: 100%;
  font-variant: all-small-caps;
  text-align: center;
  margin: 1% 2%;
}

.aboutUsIcon {
  width: 3em;
  height: 3em;
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 20px;
}

.aboutUsDescription {
  text-align: left;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .aboutUsRow {
    flex-wrap: wrap;
  }

  .aboutUsCol {
    flex: 1 1 100%;
  }
}
