body {
  font-family: "Ropamix regular", "Playfair Display";
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
}

:root {
  --primary-color: #1f458e;
  --secondary-color: #72a2fd;
  --background-color: #faf9f6;
}
