.transportDescription {
  width: 1000px;
  font-family: Verdana, sans-serif;
  font-variant: all-small-caps;
  background-color: var(--background-color);
  color: var(--primary-color);
  box-shadow: 6px 6px 0px var(--secondary-color);
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  text-align: center;
  font-size: 1.1rem;
  padding: 30px;
}

.transportDescriptionContent {
  text-align: left;
}
